/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 24, 2022, 12:57:24 AM
    Author     : Sara_
*/

.navbar {
    background-color: rgb(241, 246, 249);
}

* {
    margin: 0px;
}

.logo {
    margin-left: 30px;
}

.list {
    position: fixed;
    right: 350px;
    padding-top: 15px;
}

.account {
    position: fixed;
    right: -30px;
}

div {
    display: inline-block;
    width: 300px;
}

li, a {
    text-decoration: none;
    color: black;
}

.project-name {
    color: rgb(64, 104, 130);
    position: fixed;
    top: 20px;
    left: 85px;
}

li {
    display: inline;
    padding: 20px;
}

ul {
    list-style-type: none;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    left: 1410px;
    width: 85px;
    top: 45px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropbtn {
    position: relative;
    left: 1100px;
    bottom: 5px;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color:  rgb(241, 246, 249);
}